<!-- DATE RANGE -->


<div style="display: block">
  <canvas baseChart
          [datasets]="weeksData"
          [labels]="weeksLabels"
          [options]="weeksOptions"
          [legend]="weeksLegend"
          [chartType]="weeksType"></canvas>
</div>

<div class="row">
  <div class="col-md-12">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="daysData"
              [labels]="daysLabels"
              [options]="daysOptions"
              [colors]="daysColors"
              [legend]="daysLegend"
              [chartType]="daysType"></canvas>
    </div>
  </div>
</div>
