<div class="container">
  <div class="row main">
    <div class="main-login main-center">

      <h3>Register Employee</h3>
      <hr/>

      <form class="" method="post" action="#">

        <div class="form-group">
          <label class="cols-sm-2 control-label">Position</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"></span>
              <input type="button"
                     class="form-control dropdown-toggle"
                     data-toggle="dropdown"
                     name="drink"
                     id="drink"
                     value="Select drink.."/>

              <ul class="dropdown-menu" role="menu">
                <li><a (click)="newDrink()">Select position...</a></li>
                <ng-container>
                  <li><a>Barmen</a></li>
                  <li><a>Chef</a></li>
                  <li><a>Bartender</a></li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="firstName" class="cols-sm-2 control-label">First Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="firstName"  placeholder="First Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="lastName"  placeholder="Last Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email" [(ngModel)]="email" placeholder="Email"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Enter your Password"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password confirmation</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" [(ngModel)]="password" placeholder="Enter your Password"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <a href="" (click)="registerGuest()" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
        </div>

      </form>
    </div>
  </div>
</div>
