<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <h3 class="text-center">
        Change your password</h3>
      <form class="" method="post" action="#">

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password" [(ngModel)]="oldPassword" placeholder="Enter your old Password"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password1" id="newPassword1" [(ngModel)]="newPassword1" placeholder="Enter your new Password"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password2" id="newPassword2" [(ngModel)]="newPassword2" placeholder="Again enter your new Password"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <a href="" (click)=change()" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Save</a>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
