<div class="section-name">Order:</div><br/>

<div class="panel panel-default"><div class="panel-body"><div class="table-container">

  <div class="table-name">Selected Drinks: </div><br/>
  <ng-container *ngIf="drinkOrders.length > 0">
    <table class="table table-filter"><tbody>

    <tr *ngFor="let drink of drinkOrders">

      <td>
        <div class = "table-name">{{drink.name}}</div>
        <div class = "table-row-name">{{drink.description}}</div>
      </td>

      <td>
        <div class = "table-name">{{drink.price}}</div>
        <div class= "table-row-name">price per unit</div>
      </td>

      <td>
        <div class = "table-name">{{drink.quantity}}</div>
        <div class= "table-row-name">quantity</div>
      </td>

      <td>
        <div class = "table-name">{{drink.price * drink.quantity}}</div>
        <div class= "table-row-name">total price</div>
      </td>

      <td>
        <div class="left">
          <a (click)="removeDrink(drink.id)" type="button" class="btn btn-primary btn-lg arop">-</a>
        </div>
      </td>

    </tbody></table>
  </ng-container>

  <hr class="bighr"/>

  <div class="table-name">Selected Dishes: </div><br/>
  <ng-container *ngIf="dishOrders.length > 0">
    <table class="table table-filter"><tbody>

    <tr *ngFor="let dish of dishOrders">

      <td>
        <div class = "table-name">{{dish.name}}</div>
        <div class = "table-row-name">{{dish.description}}</div>
      </td>

      <td>
        <div class = "table-name">{{dish.price}}</div>
        <div class= "table-row-name">price per unit</div>
      </td>

      <td>
        <div class = "table-name">{{dish.quantity}}</div>
        <div class= "table-row-name">quantity</div>
      </td>

      <td>
        <div class = "table-name">{{dish.price * dish.quantity}}</div>
        <div class= "table-row-name">total price</div>
      </td>

      <td>
        <div class="left">
          <a (click)="removeDish(dish.id)" type="button" class="btn btn-primary btn-lg arop">-</a>
        </div>
      </td>

    </tbody></table>
  </ng-container>

</div></div></div>

<br/><br/><br/>

<div class="section-name">Menu:</div>

<div class="panel panel-default"><div class="panel-body"><div class="table-container">

  <div class="table-name">Drinks: </div><br/>
  <ng-container *ngIf="restaurant.drinks.length > 0">
    <table class="table table-filter"><tbody>

    <tr *ngFor="let drink of restaurant.drinks">

      <td>
        <div class = "table-name">{{drink.name}}</div>
        <div class = "table-row-name">{{drink.description}}</div>
      </td>

      <td>
        <div class = "table-name">{{drink.price}}</div>
        <div class = "table-row-name">price per one</div>
      </td>

      <td>
        <div class="left">
          <a (click)="addDrink(drink.id)" type="button" class="btn btn-primary btn-lg arop">+</a>
        </div>
      </td>

    </tbody></table>
  </ng-container>

  <hr class="bighr"/>

  <div class="table-name">Dishes: </div><br/>
  <ng-container *ngIf="restaurant.dishes.length > 0">
    <table class="table table-filter"><tbody>

    <tr *ngFor="let dish of restaurant.dishes">

      <td>
        <div class = "table-name">{{dish.name}}</div>
        <div class = "table-row-name">{{dish.description}}</div>
      </td>

      <td>
        <div class = "table-name">{{dish.price}}</div>
        <div class = "table-row-name">price per one</div>
      </td>

      <td>
        <div class="left">
          <a (click)="addDish(dish.id)" type="button" class="btn btn-primary btn-lg arop">+</a>
        </div>
      </td>

    </tbody></table>
  </ng-container>

</div></div></div>




