a.updatebutton
{
  margin-bottom: 100px;
}

div.canvasContainer
{
  margin-top: 50px;
  margin-bottom: 50px;
}

#canvasOptions
{
  width: 15%;
  float: left;
  background: rgba(255, 255, 255, 0.7);
}

#canvasDiv
{
  width: 80%;
  height: 100%;
  float:right;
}

#canvas
{
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 200px;
}

.list-group
{
  background: rgba(0,0,0,0);
  stroke-opacity: 0;
  border-style: hidden;
}

.list-group-item
{
  background: rgba(0,0,0,0);
  border-style: none;
}

.canvas-btn
{
  width: 100%;
  background: rgba(0,0,0,0.7);
  border-style: none;
}

.canvas-btn:hover
{
  width: 100%;
  background: rgba(1,1,1,0.7);
  border-style: none;
}
