/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
  height: 500px;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.main{
  margin:50px 15px;
}

h1.title {
  font-size: 50px;
  font-family: 'Passion One', cursive;
  font-weight: 400;
}

hr{
  width: 100%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login{
  background-color: #fff;
  /* shadows and rounded borders */
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control
{
  height: auto!important;
  padding: 8px 12px !important;
}
.input-group
{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#drinksButton, #dishButton, #restaurantButton
{
  border: 1px solid #4461f5;
  margin-top: 28px;
  padding: 6px 12px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px 3px;
  background: #4461f5;
}
#drinksButton:hover, #dishButton:hover, #restaurantButton:hover
{
  color: #4461f5;
  background: #ffffff;
}

.main-center{
  max-width: 400px;
  padding: 10px 40px;
  margin-bottom: 50px;
  background: rgba(0,0,0,.7);
  color: #FFF;
  text-shadow: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
  color: rgba(0,0,0,0.7);
  font-size: 17px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

#restaurantDescription
{
  column-span: 2;
}


.wrapper
{
  margin: auto;
  width: 90%;
  height: 80vh;
}

#leftpart
{
  width: 40%;
  height: 100%;
  float: left;
}

#rightpart
{
  float:right;
  width: 60%;
  height: 100%;
  position: relative;
}

#canvasOptions
{
  width: 20%;
  float: left;
}

#canvasDiv
{
  width: 80%;
  float:right;
}

#canvas
{
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,0.5);
}

.list-group
{
  background: rgba(0,0,0,0);
  stroke-opacity: 0;
  border-style: hidden;
}

.list-group-item
{
  background: rgba(0,0,0,0);
  border-style: none;
}

.canvas-btn
{
  width: 100%;
  background: rgba(0,0,0,0.7);
  border-style: none;
}

.canvas-btn:hover
{
  width: 100%;
  background: rgba(1,1,1,0.7);
  border-style: none;
}

