

<div class="panel panel-default"><div class="panel-body"><div class="table-container">

  <!-- SEARCH BAR -->
  <div class="row"><div class="col-sm-6 col-sm-offset-3"><div id="imaginary_container"><div class="input-group stylish-input-group">
    <input type="text" class="form-control" [(ngModel)]="searchParams" placeholder="Search">
    <span class="input-group-addon">
          <button type="submit" (click)="searchRestaurants()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
  </div></div></div></div>

  <ng-container *ngIf="historyData != null">

    <!-- TABLE -->
    <table class="table table-filter"><tbody>

    <tr *ngFor="let history of historyData; let i = index">

      <td>
        <div class = "table-name">{{history.restaurantName}}</div>
        <div class = "table-row-name">{{history.restaurantDescription}}</div>
      </td>

      <td>
        <div class = "table-name">{{history.dateOfVisit + ' ' + history.timeOfVisit}}</div>
        <div class = "table-row-name">visited</div>
      </td>

      <td>
        <ng-container *ngIf="!history.restaurantMeanMark">
          <div class="table-number"> N\A </div>
        </ng-container>
        <ng-container *ngIf="history.restaurantMeanMark">
          <div class="table-number">{{history.restaurantMeanMark}}</div>
        </ng-container>
        <div class="table-row-name">mean mark</div>
      </td>

      <td>
        <ng-container *ngIf="!history.restaurantFriendsMark">
          <div class="table-number"> N\A </div>
        </ng-container>
        <ng-container *ngIf="history.restaurantFriendsMark">
          <div class="table-number">{{history.restaurantFriendsMark}}</div>
        </ng-container>
        <div class="table-row-name">friends mark</div>
      </td>

      <td>
        <ng-container *ngIf="!history.isMark">
          <div class="input-group">
            <input type="button"
                   class="form-control dropdown-toggle"
                   data-toggle="dropdown"
                   value="{{history.restaurantMyMark}}"/>
            <ul class="dropdown-menu" role="menu">
              <li><a (click)="setRestaurantMark(history,1);">1</a></li>
              <li><a (click)="setRestaurantMark(history,2);">2</a></li>
              <li><a (click)="setRestaurantMark(history,3);">3</a></li>
              <li><a (click)="setRestaurantMark(history,4);">4</a></li>
              <li><a (click)="setRestaurantMark(history,5);">5</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="history.isMark">
          <div class="table-number">{{history.restaurantMyMark}}</div>
        </ng-container>
        <div class="table-row-name">my mark</div>
      </td>

      <td>
        <ng-container *ngIf="!history.isMark">
          <div class="input-group">
            <input type="button"
                   class="form-control dropdown-toggle"
                   data-toggle="dropdown"
                   value="{{history.mealMyMark}}"/>
            <ul class="dropdown-menu" role="menu">
              <li><a (click)="setMealMark(history,1);">1</a></li>
              <li><a (click)="setMealMark(history,2);">2</a></li>
              <li><a (click)="setMealMark(history,3);">3</a></li>
              <li><a (click)="setMealMark(history,4);">4</a></li>
              <li><a (click)="setMealMark(history,5);">5</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="history.isMark">
          <div class="table-number">{{history.mealMyMark}}</div>
        </ng-container>
        <div class="table-row-name">my mark</div>
      </td>

      <td>
        <ng-container *ngIf="!history.isMark">
          <div class="input-group">
            <input type="button"
                   class="form-control dropdown-toggle"
                   data-toggle="dropdown"
                   value="{{history.waiterMark}}"/>
            <ul class="dropdown-menu" role="menu">
              <li><a (click)="setWaiterMark(history,1);">1</a></li>
              <li><a (click)="setWaiterMark(history,2);">2</a></li>
              <li><a (click)="setWaiterMark(history,3);">3</a></li>
              <li><a (click)="setWaiterMark(history,4);">4</a></li>
              <li><a (click)="setWaiterMark(history,5);">5</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="history.isMark">
          <div class="table-number">{{history.waiterMark}}</div>
        </ng-container>
        <div class="table-row-name">my mark</div>
      </td>

      <td class="buttons">
        <ng-container *ngIf="!history.isMark">
          <div class="left">
            <button (click)="markOrder( history )" type="button" class="btn btn-primary btn-lg">Give mark</button>
          </div>
        </ng-container>
        <ng-container *ngIf="history.isMark">
          <div class="left">
            <p>Marked</p>
          </div>
        </ng-container>
      </td>

    </tr>

    </tbody></table>


  </ng-container>

  <ng-container *ngIf="historyData.length == 0">
    <div class="no-content-message">No visits :(</div>
  </ng-container>

</div></div></div>




