<div class="container">
  <div class="row main">
    <div class="main-login main-center">

      <h3>Send reservation to: </h3>
      <hr/>

      <div id="smartwizard">
        <ul>
          <li><a href="#step-1">Find Restaurant</a></li>
          <li><a href="#step-2">Date and time</a></li>
          <li><a href="#step-3">Invite friends</a></li>
          <li><a href="#step-4">Place order</a></li>
          <li><a href="#step-4">Summary</a></li>
        </ul>

        <div>

          <div id="step-1" class="">
            <guestRestaurantsPage (notify)='selectedRestaurantNotify($event)'></guestRestaurantsPage>
          </div>


          <div id="step-2" class="">
            <div class="form-group"> <!-- Date input -->
              <label class="control-label" for="date">Date</label>
              <div class = "input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" id="date" name="date" [(ngModel)]="reservation.date" placeholder="DD.MM.YYYY." type="text"/>
              </div>
            </div>

            <div class="form-group"> <!-- Time input -->
              <label class="control-label" for="date">Time</label>
              <div class = "input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                <input class="form-control" id="time" name="time" [(ngModel)]="reservation.time" placeholder="HH:MM (24 hour clock)" type="text"/>
              </div>
            </div>
            <script type="text/javascript">

            </script>
          </div> <!-- STEP 2 END -->

          <div id="step-3" class="">
            Step Content Tree
          </div> <!-- STEP 3 END -->

          <div id="step-4" class="">
            Step Content Mokuyoubi
          </div> <!-- STEP 4 END -->

        </div>
      </div>
    </div>
  </div>
</div>
