<div class="container">
  <div class="row main">
    <div class="main-login main-center">

      <h3>Register as a Guest</h3>
      <hr/>

      <form class="" method="post" action="#">

        <div class="form-group">
          <label for="firstName" class="cols-sm-2 control-label">First Name</label>
          <input type="text" class="form-control"
                 name="firstName" id="firstName"
                 [(ngModel)]="firstName"
                 required
                 placeholder="First Name"
                 #fn="ngModel"/>
          <div *ngIf="fn.errors && (fn.dirty || fn.touched)" class="alert alert-danger">
            <div [hidden]="!fn.errors.required">
              Field is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
          <input type="text" class="form-control"
                 name="lastName" id="lastName"
                 [(ngModel)]="lastName"
                 placeholder="Last Name"
                 required
                 #ln="ngModel"/>
          <div *ngIf="ln.errors && (ln.dirty || ln.touched)" class="alert alert-danger">
            <div [hidden]="!ln.errors.required">
              Field is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <input type="text" class="form-control"
                 name="email" id="email"
                 [(ngModel)]="email"
                 placeholder="your@email"
                 required
                 pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                 #em="ngModel"/>
          <div *ngIf="em.errors && (em.dirty || em.touched)" class="alert alert-danger">
            <div [hidden]="!em.errors.required">
              Field is required
            </div>
            <div [hidden]="!em.errors.pattern">
              Invalid email
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <input type="password" class="form-control"
                 name="password" id="password"
                 [(ngModel)]="password"
                 placeholder="Enter your Password"
                 required
                 pattern="^(?=[\w!@#$%^&*()+]{6,})(?:.*[!@#$%^&*()+]+.*)$"
                 minlength="5"
                 maxlength="15"
                 #p = "ngModel"/>
          <div *ngIf="p.errors && (p.dirty || p.touched)" class="alert alert-danger">
            <div [hidden]="!p.errors.required">
              Field is required
            </div>
            <div [hidden]="!p.errors.pattern">
              At least one special character
            </div>
            <div [hidden]="!p.errors.minlength">
              Minimum of 5 characters
            </div>
            <div [hidden]="!p.errors.maxlength">
              Maximum of 15 characters
            </div>
          </div>
        </div>

        <div class="form-group ">
          <a (click)="registerGuest()" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
        </div>

      </form>
    </div>
  </div>
</div>
