

<div><div><div>

  <!-- SEARCH BAR -->
  <div class="row"><div class="col-sm-6 col-sm-offset-3"><div id="imaginary_container"><div class="input-group stylish-input-group">
    <input type="text" class="form-control" [(ngModel)]="searchParams" placeholder="Search">
    <span class="input-group-addon">
          <button type="submit" (click)="searchRestaurants()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
  </div></div></div></div>

  <ng-container *ngIf="restaurants != null">

    <!-- TABLE -->
    <table class="table table-filter"><tbody>

    <tr>
      <th></th>

      <th>
        <div class="table-number">
          <a (click)="sortData('name')" target="_blank" class="header">Name</a>
        </div>
      </th>

      <th>
        <div class="table-number">
          <a (click)="sortData('meanMark')" target="_blank" class="header">Mean mark</a>
        </div>
      </th>

      <th>
        <div class="table-number">
          <a (click)="sortData('friendsMark')" target="_blank" class="header">Friends mark</a>
        </div>
      </th>

      <th>
        <div class="table-number">
          <a (click)="sortData('visits')" target="_blank" class="header">Visits</a>
        </div>
      </th>

      <th>
        <div class="table-number">
          <a target="_blank" class="header">Address</a>
        </div>
      </th>

      <th>
        <div class="table-number">
          <a (click)="sortData('distance')" target="_blank" class="header">Distance</a>
        </div>
      </th>

      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let restaurant of restaurants" [attr.id]="'restaurant_' + restaurant.id">

      <td class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/14/c3/8c/14c38ce05dc93cc7b5d82a9b8f04db08.jpg" class="media-photo">
      </td>

      <td>
        <div class = "table-name">{{restaurant.name}}</div>
        <div class = "table-row-name">{{restaurant.description}}</div>
      </td>

      <td>
        <div class="table-number">{{restaurant.meanMark}}</div>
        <div class="table-row-name">mean mark</div>
      </td>

      <td>
        <div class="table-number">{{restaurant.friendsMark}}</div>
        <div class="table-row-name">friends mark</div>
      </td>

      <td>
        <ng-container *ngIf="restaurant.visits != null">
          <div class="table-number">{{restaurant.visits}}</div>
        </ng-container>
        <ng-container *ngIf="restaurant.visits == null">
          <div class="table-number">N/A</div>
        </ng-container>
        <div class="table-row-name">visits</div>
      </td>

      <td>
        <ng-container *ngIf="restaurant.address != null">
        <div class="table-email">{{restaurant.address.street + ' ' + restaurant.address.number + ', ' + restaurant.address.city + ', ' + restaurant.address.country}}</div>
        </ng-container>
        <ng-container *ngIf="restaurant.address == null">
          <div class="table-number">N/A</div>
        </ng-container>
      </td>

      <td>
        <ng-container *ngIf="restaurant.distance != null">
          <div class="table-number">{{restaurant.distanceText}}</div>
        </ng-container>
        <ng-container *ngIf="restaurant.distance == null">
          <div class="table-number">N/A</div>
        </ng-container>
        <div class="table-row-name">distance</div>
      </td>

      <td class="buttons">
        <div class="left">
          <button (click)="showOnMap(restaurant.id)" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mapModal">Show on map</button>
        </div>
      </td>

      <td class="buttons">
        <div class="left">
          <button (click)="selectRestaurant(restaurant.id)" type="button" class="btn btn-primary btn-lg">Select</button>
        </div>
      </td>

    </tr>

    </tbody></table>


  </ng-container>

  <ng-container *ngIf="restaurants.length == 0">
    <div class="no-content-message">No restaurants :(</div>
  </ng-container>


</div></div></div>


<!-- Map Modal -->
<div id="mapModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div id="map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



